$font-normal: 'Open Sans', sans-serif;
$font-narrow: 'Open Sans Condensed', sans-serif;

$font-xxx-large: 6.5em;
$font-xx-large: 2.5em;
$font-x-large: 2em;
$font-large: 1.5em;
$font-medium-large: 1.15em;
$font-medium: 1em;
$font-small: 0.85em;
$font-x-small: 0.5em;

$header-height: 48px;
$header-background-color: #231f20;
$header-font-color: #efefef;
$header-font-size: 1em;
$header-button-size: 1.25em;

$popup-background-color: rgba(255, 255, 255, 0.9);
$popup-border-color: rgba(255, 255, 255, 1);
$popup-font-color: #231f20;


$snapshot-font-color: #231f20;
$snapshot-hover-background-color: rgba(0, 0, 0, 0.15);
$snapshot-sensor-item-font-size: 0.75em;
$snapshot-sensor-item-font-color: #ffffff;
